[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
django-oauth-toolkit = "*"
django-two-factor-auth = "*"
django-useraudit = "*"
django-user-sessions = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-otp-yubikey = "*"
whitenoise = "*"
geoip2 = "*"
django-xforwardedfor-middleware = "*"

[dev-packages]
black = "==20.8b1"
isort = "*"

[requires]
python_version = "3.8"
